body{
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/df/25/8b/df258bfc21c17a61d2f7a5485990a8cc.jpg')
}

.board{
    position: absolute;
    border: 8px solid white;
    border-radius: 20px;
    top:10vh;
    left:10vw;
    min-width: 80vw;
    min-height: 80vh;
}

.row{
    position: absolute;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
}

.south{
    flex-direction: row-reverse;
    min-width: 67vw;
    min-height: 20vh;
    bottom: 0;
    right: 0;
}

.west{
    flex-direction: column-reverse;
    min-width: 12.8vw;
    min-height: 59.55vh;
    bottom: 0vh;
    left: 0vw;
}

.north{
    flex-direction: row;
    min-width: 67vw;
    min-height: 20vh;
    top: 0;
    left: 0;
}

.east{
    flex-direction: column;
    min-width: 12.8vw;
    min-height: 59.55vh;
    top: 0vh;
    right: 0vw;
}
.spot{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 25px;
}
.south .spot{
    border: 1px solid hotpink;
    border-bottom: 0;
    flex: 1;
}

.south .end{
    flex: 1.43;
}

.west .spot{
    border: 1px solid rgb(21, 244, 238);
    border-left:0;
    border-bottom: 0;
    flex: 1;
}

.west .end{
    flex: 1.53;
}

.north .spot{
    border: 1px solid lime;
    border-top: 0;
    flex: 1;
}

.north .end{
    flex: 1.43;
}

.east .spot{
    border: 1px solid rgb(186, 11, 224);
    border-right:0;
    border-top:0;
    flex: 1;
}

.east .end{
    flex: 1.53;
}

.die{
    position: absolute;
    top: 38vh;
    left: 43vw;
    min-width:13vw;
    max-width: 13vw;
}

.die img{
    width: 100%;
}

.roll{
    position: absolute;
    font-size: 40px;
    z-index: 10;
    top: 11vh;
    left: 5vw;
}

.player{
    border:1px solid black;
    text-align: center;
    border-radius: 100%;
    min-width: 25px;
    max-width: 50px;
    min-height: 15px;
    max-height: 30px;
}

.player1{
    background-color: aqua;
}

.player2{
    background-color: blueviolet;
}

.player3{
    background-color: coral;
}

.player4{
    background-color: lightseagreen;
}

.roll{
    color: red;
}


.newRoll{
    font-size: 20px;
    width: 50px;
    color: springgreen;
    cursor: pointer;
    height: 50px;
    /* transform: translate(10px, 113px); */
}



/* 
.newRoll-toggle{
    display: none;
} */
